.btn-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text-input {
    background-color: transparent;
    color: white;
    width: 100%;
    height: 100vh;
    resize: vertical;
    padding: 0 1rem;
    overflow-y: auto;
    white-space: pre-wrap;
}

.about-edit-image {
    width: 80vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.workshops-edit-image {
    width: 80vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 720px) {
    .about-edit-image {
        width: min(max(33vw, 300px), 500px);
    }
}

@media (min-width: 768px) { /* when changing layout */
    .workshops-edit-image {
        width: 35vw;
    }
}

@media (min-width: 992px) {
    .workshops-edit-image {
        width: min(35vw, 700px);
    }
}

@media (min-width: 1834px) {
    .about-edit-image {
        width: 500px;
    }
    .workshops-edit-image {
        width: 700px;
    }
}