.preview-gallery {
    overflow: hidden;
    width: fit-content;
    height: fit-content;
}

.dragging-img {
    filter: brightness(0.7);
    pointer-events: none;
}

.preview-gallery img {
    object-fit: cover !important;
    width: 80vw !important;
    height: 54vw !important;
}

.title p {
    font-size: 5.7vw;
}

@media (min-width: 383px) {
    .preview-gallery img {
        width: 350px !important;
        height: 233px !important;
    }
    .title p {
        font-size: 22px;
    }
}

@media (min-width: 504px) {
    .preview-gallery img {
        width: 400px !important;
        height: 266px !important;
    }
    .title p {
        font-size: 25px;
    }
}

@media (min-width: 636px) {
    .preview-gallery img {
        width: 500px !important;
        height: 333px !important;
    }
}

@media (min-width: 1400px) {
    .preview-gallery img {
        width: 600px !important;
        height: 400px !important;
    }
}

a:hover img {
    opacity: 0.9;
}

a {
    width: fit-content;
    height: fit-content;
}

.title {
    width: fit-content;
}
