.login-btn {
    width: 100%;
    background-color: black;
    border-color: transparent;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    color: white;
    cursor: pointer;
    user-select: none;
}

.title {
    font-size: 23px !important;
}

.text {
    font-size: min(max(0.9vw, 17px), 20px) !important;
}

@media (min-width: 383px) { /*more than sm*/
    .title {
        font-size: 30px !important;
    }
}

@media (min-width: 1524px) { /*more than xxl*/
    .title {
        font-size: 37px !important;
    }
}

@media (min-width: 1834px) {
    .text {
        font-size: 20px !important;
    }
}