.slideshow {
    opacity: 0.5;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.imageSlideshow {
    height: 100vh;
    position: absolute;
    object-fit: cover;
    object-position: center;
}

.btn p {
  margin: 0;
}

@media (min-width: 432px) {
    .imageSlideshow {
        position: absolute;
        object-fit: cover;
        object-position: top;
    }
}

.fullscreen-centered-text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100vw;
    transform: translateY(-50%);
    text-align: center;
    z-index: 9999;
    pointer-events: none;
}

.fullscreen-centered-text * {
    pointer-events: auto;
}